.list {
  margin-top: 2rem;
  padding-left: 2rem;
  list-style: none;
  &__item {
    position: relative;
    color: var(--primary-color);
    padding: 1.2rem 0;
    &::before {
      content: '';
      position: absolute;
      top: 1.7rem;
      left: -2rem;
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      background-color: var(--primary-color);
    }
  }

  &__content {
    color: var(--primary-text-color);
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  &__link {
    font: var(--title-text-regular);
    font-weight: 600;
    border-bottom: 2px solid currentColor;
    &:hover {
      color: var(--primary-color);
    }
  }
}
