@use '@styles/media' as media;

.card {
  padding: 0 0.5rem;
  max-width: 45rem;
  min-width: 25%;
  @include media.breakpoint(md) {
    min-width: 35rem;
  }
  &__wrapper {
    position: relative;
    min-height: 21.43rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    text-decoration: none;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  &__content {
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
  }

  &__title {
    color: var(--white-color);
    font: var(--title-text-regular);
    display: inline-block;
    background: var(--container-color);
    max-width: 85%;
    padding: 2.4rem 3rem 1rem;
    margin: 0;
    width: 85%;
  }

  &__description {
    padding: 0.5rem 3rem 2rem;
    background: var(--container-color);
    transition: all ease 0.5s;
    & > p {
      color: #fff;
      margin: 0;
    }
  }

  &__wrapper:hover &__content {
    padding-bottom: 0.5rem;
  }

  &::after {
    content: '';
    display: block;
    height: 5px;
    position: relative;
    top: -5px;
    background-color: #2d2d2d;
  }
}
