@use '../../../styles/media' as media;

.section {
  padding: 5rem 0;
  &__contain {
    padding: 1rem;
    & > div {
      width: 100%;
    }
  }
  &__contain &__wrapper {
    flex-direction: row !important;
  }
  &__topBorder {
    border-top: 2px solid var(--primary-color);
  }
  &__title {
    margin: 0 0 2rem 12rem;
    @include media.breakpoint(md) {
      margin: 0 0 2rem 2rem;
    }
    font: var(--headline-large-text);
    color: var(--primary-text-color-light);
  }
  &__wrapper {
    display: flex;
  }
  &__background {
    background-size: cover;
    padding: 10rem 0;
  }
  &__btns {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
  }
}
